# https://cloud.digitalocean.com/account/api/tokens
do_token              = "dop_v1_x"
do_spacess_access_id  = ""
do_spacess_secret_key = ""

pvt_key = "~/.ssh/id_ed25519"

do_monitoring_email         = "x@x.x"
do_monitoring_slack_webhook = "https://hooks.slack.com/services/x/x/x"

# https://dash.cloudflare.com/profile/api-tokens
cloudflare_api_token = ""
cloudflare_arepazo_api_token = ""

# https://ap.www.namecheap.com/settings/tools/apiaccess/
namecheap_api_key = ""
