---
# Check with `sudo swapon --show` and `free -h`
- name: Check if swapfile exists
  become: true
  ansible.builtin.stat:
    path: /swapfile
  register: swapfile_stat

- name: Check if swapfile needs resize
  ansible.builtin.set_fact:
    swap_needs_resize: >-
      {{ swapfile_stat.stat.exists and
         swapfile_stat.stat.size != (swap_size | human_to_bytes) }}

- name: Remove old swapfile
  become: true
  when: swap_needs_resize
  block:
    - name: Disable old swapfile
      ansible.builtin.command:
        cmd: swapoff /swapfile
      changed_when: true

    - name: Remove old swapfile
      ansible.builtin.file:
        path: /swapfile
        state: absent

- name: Set up swapfile
  become: true
  when: not swapfile_stat.stat.exists or swap_needs_resize
  block:
    - name: Create swapfile
      ansible.builtin.command:
        cmd: fallocate -l {{ swap_size }} /swapfile
      changed_when: true

    - name: Set swapfile permissions
      ansible.builtin.command:
        cmd: chmod 0600 /swapfile
      changed_when: true

    - name: Format swapfile
      ansible.builtin.command:
        cmd: mkswap /swapfile
      changed_when: true

    - name: Enable swapfile
      ansible.builtin.command:
        cmd: swapon /swapfile
      changed_when: true

- name: Ensure swapfile permissions
  become: true
  ansible.builtin.file:
    path: /swapfile
    owner: root
    group: root
    mode: "0600"
  when: swapfile_stat.stat.exists and not swap_needs_resize

- name: Ensure swapfile is in fstab
  become: true
  ansible.builtin.lineinfile:
    path: /etc/fstab
    line: /swapfile none swap sw 0 0
    state: present
    regexp: ^/swapfile
