---
- name: Enable IPv6 forwarding (required for Thread border router)
  become: true
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: "1"
    sysctl_set: true
    reload: true

- name: Accept IPv6 router advertisements even when forwarding (all)
  become: true
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.accept_ra
    value: "2"
    sysctl_set: true
    reload: true

- name: Accept IPv6 router advertisements on backbone interface
  become: true
  ansible.posix.sysctl:
    name: "net.ipv6.conf.{{ backbone_interface }}.accept_ra"
    value: "2"
    sysctl_set: true
    reload: true
