VAULT_ADDR=http://127.0.0.1:8200
VAULT_API_ADDR=http://127.0.0.1:8200
VAULT_LOCAL_CONFIG={"storage":{"file":{"path":"/vault/file"}},"listener":{"tcp":{"address":"0.0.0.0:8200","tls_disable":1}},"ui":true}
