[Unit]
Description=Load SSH keys into agent
Requires=ssh-agent.socket
After=ssh-agent.socket

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/ssh-add %h/.ssh/id_ed25519
Environment=SSH_AUTH_SOCK=%t/openssh_agent

[Install]
WantedBy=default.target
